
html , body {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.icon-home {
  align-self: center;
}
.Form {
    display: block;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
    max-width: 500px;
    height: 550px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    background: url(assets/bg_form.jpg) center no-repeat;
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.85);

}
.Form:after {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-image: radial-gradient(ellipse at left bottom, rgba(22, 24, 47, 1) 0%,rgba(38, 20, 72, .9) 59%, rgba(17, 27, 75, .9) 100%); */
  /* box-shadow: 0 -20px 150px -20px rgba(0, 0, 0, 0.5); */
}
.Login {
  position: relative;
  z-index: 1;
  padding-bottom: 0;
  border-bottom: 1px solid #e6e6e6;
}
.Register {
  padding-bottom: 0;
  height: 470px;
}
.RedirectLinkForm {
  position: relative;
  z-index: 1;
  border-top: 1px solid #e6e6e6;
  margin-top: 5px;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
}
.link-form {
  text-decoration: none;
  margin-left: 10px;
  color: #3897f0;
}
.alert-danger {
  color: red;
}
.aler-success {
  color: springgreen;
}
.form-login {
  margin: 20px 90px 70px;
}
.form-register {
  margin: 0px 90px;
}
.button-form {
  color: #ffffff !important;
  font-weight: 700 !important;
  margin: 44px 0px 30px !important;
}
.title-form {
  font-family: 'Dancing Script', cursive;
  color: #ff9800;
}
.text-link {
    font-size: 22px;
    font-family: 'Dancing Script', cursive;
    padding-left: 80px;
    font-weight: 500;
}
.Home {
  padding: 0px 10px;
}
.wrap-add {
  display: flex;
  padding: 40px 10px;
  justify-content: space-between;
}
.add-diary {
  font-weight: 700 !important; 
}
.add-icon {
  padding-right: 5px;
}
.content-diary {
  text-align: left;
  margin: 30px;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  font-family: 'Arima Madurai', cursive;
}
.Diary {
  margin: 30px;
  padding: 10px 0px;
  height: auto;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.25);
  box-shadow: 0 0 6px rgba(0,0,0,.25);
}

.date-diary {
  text-align: left;
  padding: 10px 0px 10px 30px;
  display: flex;
  align-items: center;
  color: peru;
  white-space: 20px;
}
.wrap-action-diary{
  display: flex;
  justify-content: space-between
}
@media only screen and (max-width: 476px) {
  .form-login {
    margin: 0px;
  }
  .form-register {
    margin: 0px;
  }
  .button-form {
    width: 70% !important;
  }
  .Form {
    margin-top: 160px;
    border: none;
    box-shadow: none;
  }
}

